ul {
    padding: 0;
}

.nav ul {
    list-style: none;
    width: 100%;
}

.nav>ul>li {
    display: inline-block;
    position: relative;
}

.nav>ul>li>ul {
    display: none;
    position: absolute;
    width: 300px;
}

.flex{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
